$static(max_width,720)

html, body {
	height: 100%;
}

#header {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-bottom: 5px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin: auto;
	max-width: $max_width()px;
}

#start-button {
	min-width: 200px;
}

#main {
	width: 100%;
}

/* Whole screen */
#panel {
	max-width: $max_width()px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}

#player-area, #computer-area {
	flex-grow: 1;
	min-width: calc($max_width()px / 2);
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* Biggest */
@media (min-width: 750px) {
	#player-field {
		margin-right: 15px;
	}
}

/* In between */
@media (max-width: 750px) and (min-width: calc($max_width()px / 2)) {
	#panel {
		max-width: calc($max_width()px / 2) !important;
	}
}

/* Smallest */
@media (max-width: calc($max_width()px / 2)) {
	#player-area, #computer-area {
		min-width : calc($max_width()px / 2 - 50px) !important;
	}

	#panel {
		max-width: 0;
		margin: 0;
	}
}

#player-field, #computer-field {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.row {
	height: 2em;
	display: flex;
	flex-direction: row;
	margin: 1px;
}

.block {
	flex: 1;
	margin: 1px;
	border: 1px solid;
}

.blank {
	background: white;
}

#computer-field .blank {
	cursor: pointer;
}

/* Only for player block thus, don't have to be clickable */
.occupied {
	background: gray;
}

.cleared {
	background: skyblue;
}

.attacked {
	background: red;
}

.blurred {
	opacity: 0.3;
}
