html, body {
	height: 100%;
}

#main {
	height: 100%;
	width: 100%;
}

/* Whole screen */
#panel {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#player-field, #computer-field {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.row {
	height: 2em;
	display: flex;
	flex-direction: row;
	margin: 1px;
}

.block {
	height: 100%;
	width: 2em;
	flex: 1;
	margin: 1px;
	border: 1px solid;
}

.blank {
	background: white;
	cursor: pointer;
}

/* Only for player block thus, don't have to be clickable */
.occupied {
	background: gray;
}

.cleared {
	background: skyblue;
}

.attacked {
	background: red;
}
